<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="csvProcessor" class="chapter03.processors.OrderToCsvProcessor" />

    <camelContext trace="true" id="camel" xmlns="http://camel.apache.org/schema/spring">
        <route>
            <from uri="direct:start" />
            <process ref="csvProcessor"/>
            <to uri="file://target/orders/received?fileName=report-${header.Date}-xml-dsl.csv"/>
        </route>
    </camelContext>



</beans>